.bigblock {
  float: left;
  box-sizing: border-box;
}

.div1 {
  display: inline;
}

.work {
  text-align: right;
  float: right;
  box-sizing: border-box;
}

.links {
  text-align: 'left
}

.links2 {
  color: #00bfff;
}

.links {
  list-style-type: none;
}

.photo-oval {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: auto 300px;
  margin-right: 85px;
  margin-top: 30px;
}
.hobby {
  vertical-align: 5px;
  border-radius: 10px;
  width: 280px;
  height: 140px;
}

.zaglavie {
  font-family: Courier, monospace;
}

.textcenter {
  vertical-align: 5px;
  text-align: center;
  font-family: Georgia, serif;
  font-style: oblique;
}
.surok {
  text-align: center;
}

.expcompany {
  font-size: 150%;
  color: #00bfff;
}

.nowcompany {
  font-size: 150%;
  color: #7cfc00;
}

.experience {
  font-size: 120%;
  color: #808080;
}

.opit {
  font-size: 75%;
  color: #a9a9a9;
}

.projectname {
  list-style-type: none;
  font-size: 75%;
  color: #808080;
}
.period {
  list-style-type: none;
  font-size: 65%;
  color: #808080;
}

.projectcenter {
  list-style-type: none;
}

.section-right {
  text-align: right;
}

.interestname {
  vertical-align: 5px;
  color: #808080;
}

.exper {
  list-style-type: none;
}

.interest {
  vertical-align: 5px;
  list-style-type: none;
  margin-right: 10px;
}


.photo-oval1 {
  float: left;
  margin-left: 110px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: auto 300px;
  margin-right: 85px;
  margin-top: 30px;
}

.zaglavie2 {
  font-family: Courier, monospace;
  text-align: right
}

.progress__bar {
  width: 100%;
  list-style-type: none;
  background:#D3D3D3;
  border-radius:10px;
  height:50px;
  }

 .Sketch {
   margin-top: 10px;      
   background:rgb(9, 134, 156);
   color:white;
   width:100px;
   border-radius:10px;
   height:50px;
   box-sizing: border-box;
   padding: 10px 20px;
 }

.Axure {
    margin-top: 10px;
    background:rgb(230, 132, 5); 
    color:white;
    width:410px;
    border-radius:10px;
    height:50px;
    box-sizing: border-box;
    padding: 10px 20px;';
}

.Indesign {      
    margin-top: 10px;
    background:rgb(177, 9, 168); 
    color:white;
     width:390px;
     border-radius:10px;
     height:50px;
     box-sizing: border-box;
    padding: 10px 20px;"
    }

.Illustrator{
  margin-top: 10px; 
  background:#32CD32; 
  color:white;
  width:430px;
  border-radius:10px;
  height:50px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.Photoshop{
 margin-top: 10px;  
  background:rgb(32, 143, 235); 
color:white;
 width:570px;
 border-radius:10px;
  height:50px;
 box-sizing: border-box;
padding: 10px 20px;
}